[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
Django = '>=1.8.11'
djangorestframework = '>=3.3.3'

[dev-packages]
pytest = '==6.2.5'
sqlparse = '==0.4.1'
pytest-django = "*"
coreapi = "*"
coreschema = "*"
twine = "*"
